/*----------------------------------------------------------
 Global Styles
 -----------------------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e5e5e5;
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
